Examples/GroupDocs.Metadata.Examples.CSharp/bin/
Examples/GroupDocs.Metadata.Examples.CSharp/obj/
Examples/Resources/GroupDocs.Metadata.NET.lic
*.user
*.suo
Examples/GroupDocs.Metadata.Examples.CSharp/.vs/
Examples/GroupDocs.Metadata.Examples.CSharp/packages/
deploy_key
Examples/packages/
Examples/GroupDocs.Metadata.Examples.CSharp.Framework/bin/
Examples/GroupDocs.Metadata.Examples.CSharp.Framework/obj/
Examples/GroupDocs.Metadata.Examples.CSharp.Core/obj/
Examples/GroupDocs.Metadata.Examples.CSharp.Core/bin/
Examples/.vs/
