Examples/GroupDocs.Metadata.Examples.CSharp/bin/
Examples/GroupDocs.Metadata.Examples.CSharp/obj/
Examples/Resources/GroupDocs.Metadata.NET.lic
*.user
*.suo
Examples/GroupDocs.Metadata.Examples.CSharp/.vs/
Examples/GroupDocs.Metadata.Examples.CSharp/packages/
