@{
    GroupDocs.Metadata.MVC.Products.Common.Config.GlobalConfiguration config = new GroupDocs.Metadata.MVC.Products.Common.Config.GlobalConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Metadata for .NET MVC</title>
    <link rel="icon" type="image/x-icon" href="resources/metadata/favicon.ico" />
</head>
<body>
    <client-root></client-root>
    <script src="resources/metadata/runtime-es2015.js" type="module"></script>
    <script src="resources/metadata/runtime-es5.js" nomodule></script>
    <script src="resources/metadata/polyfills-es2015.js" type="module"></script>
    <script src="resources/metadata/polyfills-es5.js" nomodule></script>
    <script src="resources/metadata/styles-es2015.js" type="module"></script>
    <script src="resources/metadata/styles-es5.js" nomodule></script>
    <script src="resources/metadata/vendor-es2015.js" type="module"></script>
    <script src="resources/metadata/vendor-es5.js" nomodule></script>
    <script src="resources/metadata/main-es2015.js" type="module"></script>
    <script src="resources/metadata/main-es5.js" nomodule></script>
</body>
</html>